.bio {
	margin: 0rem 1rem;
}

p, h4 {
	color: #8BDDCA;
}

h4 {
	font-weight: bolder;
}

.content {
	display: flex;
}

i {
	margin: 1.5rem 0rem;
	transition: .3s;
}

i:hover {
	opacity: .7;
	transition: .3s;
	transform: scale(1.3);
}